.centerVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerHorizontal{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title{
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.info{
    grid-area: info;
    display: flex;
    flex-wrap: wrap;
    background-color: tomato;
}

.info div{
    margin: 0.2rem;
}

.section{
    grid-area: section;
    background-color: palevioletred;
}