.centerVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerHorizontal{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    margin: 0.4rem 0;
}

.title{
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    grid-area: info;
    display: flex;
    flex-wrap: wrap;
}

.info div{
    margin: 0.2rem;
}

.section{
    grid-area: section;

}